.App {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  grid-template-columns: 2fr 1fr;
}

p {
  margin: 0px;
}

@media (max-width: 720px) {
  .App {
    grid-template-columns: 1fr;
  }
}